[Unit]
Description=Excursion Funnel proxy

[Service]
ExecStart=%h/go/bin/ef serve
StandardOutput=journal
StandardError=journal
SyslogIdentifier=excursion-funnel
Restart=on-failure

[Install]
WantedBy=default.target
